<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <div>
                <div>Full Name</div>
                <input type="text" name ="full-name">
            </div>
            <div>
                <div>Email</div>
                <input type="email" name ="email">
            </div>
            <div>
                <div>Subject</div>
                <input type="text" name ="subject">
            </div>
            <div>
                <div>Message</div>
                <textarea name="message"cols="30" rows="10"></textarea>
            </div>
            <div>
                <input type="submit" value="Send Message">
            </div>

        </form>
           
    
    
</body>
</html>