<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css"> 
        <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    </head>

    <body>
        <h1 class="body_title">Welcome to my blog!</h1>
        <p class = "description">Here you will find the best recipes of typical Argentinean meals.</p>
        <div class="div_posts">
            {% for blog in blog_post %}
            <a href="/blog/{{ blog.id }}/" class="body_links">{{ blog.title }}</a>
            {% endfor %}
        </div>
    </body>
</html>